<div class="container-fluid">
    <div class="row d-flex justify-content-center">
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label>Password:</label>
        <input type="password" class="form-control" formControlName="Password" [ngClass]="{'invalid-input':loginForm.controls.Password.invalid && loginForm.controls.Password.touched}">
    
        <div *ngIf="loginForm.controls.Password.invalid && loginForm.controls.Password.touched">
           
            <span class="text-danger" *ngIf="loginForm.controls.Password.errors?.required">
                password  is required.
            </span>
            <span class="text-danger" *ngIf="loginForm.controls.Password.errors?.minlength">
                password must be at least 2 characters long.
            </span>
        </div>
      
     </form>
    </div>

</div>